h1{
  color: red;
}
.boxed {
  border: 1px solid grey ;
  position: relative;
  left: 200px;
  height: 100px;
  background-color: black;
}
.data{
  color: white;
  padding-left: 200px;
}
